<% content_for :title do %><%= t 'donator.other' %><% end %>

<% if @donators.empty? %>
  <div id="none"><%= t 'donator.none' %></div>
<% else %>
  <article id="donations">
    <h2>
      <i class="icon-heart-empty"></i>
      <%= t 'donator.thanks' %>
    </h2>

    <div class="clear"></div>

    <table>
      <tbody>
        <%= render @donators %>
      </tbody>
    </table>
  </article>
<% end %>
