*.log
**/.DS_Store
**/*.md
/.bundle
/.dockerignore
/.env*
/.eslint*
/.git*
/.rspec
/.rubocop*
/.ruby-*
/config/master.key
/coverage
/db/seeds*
/docker-compose.yml
/Dockerfile
/gulpfile.js
/LICENCE
/node_modules
/public/assets
/spec
/storage
/test
/tmp
