<% result = paginate(Article) { |model| model.published } %>

<% if result[:items].present? %>
  <%= render result[:items] %>
  <%= result[:navigator] %>
<% else %>
  <div id="none"><%= t 'article.none' %></div>
<% end %>
