<div class="admin">
  <section class="listing">
    <h1><%= t 'article.drafts' %></h1>

    <ol>
      <% @drafts.each do |article| %>
        <li>
          <%= link_to article.title, edit_article_path(article.id), class: :listing__title %>
          <%= link_to slug_url(article.slug), slug_path(article.slug), class: :listing__url %>
        </li>
      <% end %>
    </ol>
  </section>
</div>
