<div class="admin">
  <%= link_to t('article.new'), new_article_path, class: 'button blue right' %>

  <section class="archives">
    <h1><%= t 'article.drafts' %></h1>

    <% @drafts.each do |article| %>
      <ul>
        <li>
          <%= link_to article.title, edit_article_path(article.id), class: :title %><br />
          <%= link_to slug_url(article.slug), slug_path(article.slug), class: :url %>
        </li>
      </ul>
    <% end %>
  </section>
</div>
