<h2>
  <i class="icon-wrench icon-large"></i>
  <%= t 'admin.one' %>
</h2>

<ul>
  <% if is_logged? %>
    <li><%= link_to t('navigation.dashboard'), admin_path %></li>
    <li><%= link_to t('navigation.logout'), logout_path %></li>
  <% else %>
    <li><%= link_to t('navigation.login'), login_path %></li>
  <% end %>
</ul>
