<h2>
  <i class="icon-file icon-large"></i>
  <%= t 'article.other' %>
</h2>

<nav role="navigation">
  <ul>
    <% articles.each do |article| %>
      <li><%= link_to article.title, article_path(article.year, article.month, article.day, article.slug) %></li>
    <% end %>
  </ul>
</nav>
