<h2><%= t("article.title") %></h2>

<ul id="recents">
  <% articles.each do |article| %>
    <li>
      <%= link_to article.title, search_slug_path(article.year, article.month, article.day, article.slug) %>
    </li>
  <% end %>
</ul>
