<h2>
  <i class="icon-tags icon-large"></i>
  <%= t("category.title") %>
</h2>

<ul id="categories">
  <% categories.each do |category| %>
    <li>
      <%= link_to category.name, "javascript:void(0);" %>
      <%= t("category.count_html", :count => category.articles.size) %>
    </li>
  <% end %>
</ul>
