<% if categories.any? %>
  <h2>
    <i class="icon-tags icon-large"></i>
    <%= t 'category.other' %>
  </h2>

  <ul>
    <% categories.each do |category| %>
      <li>
        <%= t 'category.count_html', count: category.articles.size %>
        <%= link_to category.name, categories_show_path(category.name.slug), title: category.name %>
        <span><%= link_to t('navigation.category.edit'), categories_edit_path(category.id), title: t('navigation.category.edit') %></span>
      </li>
    <% end %>
  </ul>
<% end %>
