<h2>
  <i class="icon-link icon-large"></i>
  <%= t("link.title") %>
</h2>

<ul id="links">
  <% links.each do |link| %>
    <li>
      <%= link_to link.name, link.url, { :target => "_blank" } %>
    </li>
  <% end %>
</ul>
