@import "compass/css3/box-sizing"
@import "mixins"

*
  text-rendering: optimizelegibility

*, *:before, *:after
  +box-sizing(border-box !important)

*::-moz-placeholder
  color: #E0E0E0

*::-moz-selection
  background-color: #CCE2FF

*::-moz-selection
  background-color: #FFC
  color: #555

article
  margin-top: 20px

  header
    .edit
      display: block
      font-size: 1.4em
      margin: 10px auto 0
      padding: 12px
      text-align: center
      text-decoration: none
      width: 100px

      &:hover
        color: #FFF

body
  background-color: #FAFAFA
  color: #626262
  font-family: "Open Sans", "Arial", sans-serif
  font-size: 10px
  height: 100%
  line-height: 1.6

nav
  > a, .i-heart
    //                   3 buttons  margin-left  margin-right
    +calc(width, '100% / 3 -        4px -        4px')
    color: #333
    float: left
    text-align: center

  a, .i-heart
    font-size: 1.5em
    margin-top: 8px
    border-radius: 4px
    background-color: #FFF
    padding: 10px
    height: 48px
    letter-spacing: 0.4px
    margin-left: 4px
    margin-right: 4px
    text-decoration: none

    &:hover
      background-color: #D9E6F2

  i
    font-size: 1.5em
    position: relative

  .download
    display: block
    text-align: center
    width: 100%

    i
      top: 2px

  .i-heart
    color: #F00
    cursor: pointer
    font-size: 2.1em
    padding-top: 13px

    &:hover
      color: #FF9BC3

.clearfix
  *zoom: 1

  &:before, &:after
    content: ' '
    display: table

  &:after
    clear: both

.content
  margin: 0 auto
  width: 95%

.description
  color: #999
  font-size: 1.4em
  font-weight: bold
  margin-left: 10px
  margin-top: 0
  text-align: center
  text-shadow: 1px 1px 1px #FFF

.header
  a
    color: #3B3B3B
    display: block
    font-size: 2.2em
    letter-spacing: -3px
    line-height: 1.2
    text-align: center
    text-decoration: none
    text-shadow: 2px 2px #FFF

  h1
    margin-bottom: 7px
    margin-top: 5px

.i-arrow-down
  left: -2px

#donations
  display: none
  font-weight: bold
  margin-top: 15px
  text-align: center

  a
    color: #DC5

    &:hover
      color: #F00

  span
    color: #FF9BC3
    font-size: 2.2em
    padding-left: 2px
    padding-right: 2px
    vertical-align: middle
