/* Sidebar */
#sidebar-admin { float: left; padding: 10px; width: 130px; }
#sidebar-admin h2 { border-bottom: 1px solid #DDD; border-top: 1px solid #DDD; color: #333; font: bold 14px verdana; margin-bottom: 2px; padding-bottom: 7px; padding-top: 7px; }
#sidebar-admin ul { margin-bottom: 28px; }
#sidebar-admin ul li { border-bottom: 1px dotted #F1F1F1; padding: 4px 0; }
#sidebar-admin ul li strong { background-color: #AF81C3; border-radius: 4px; color: #FFF; display: inline-block; font-size: 8px; padding: 1px 4px; text-shadow: none; }

/* Content */
#content-admin { float: left; border-left: 2px solid #DDD; min-height: 450px; padding: 10px; width: 928px; }

/* Index */
#content-admin #welcome { margin: 170px auto 0; overflow: auto; width: 500px; }
#content-admin #welcome h1 { font: bold 30px verdana; margin: 0 auto; text-align: center; width: 400px; }
#content-admin #welcome p { font: 15px verdana; margin: 10px auto 0; text-align: center; width: 300px; }
