/* common */
#fields { float: left; width: 715px; }
#fields label { color: #BBB; font: 15px arial; letter-spacing: .7px; padding-left: 6px; padding-top: 8px; }
#fields textarea { min-height: 313px; width: 700px; }
#fields p input { width: 700px; }

/* sidebar */
aside { float: left; padding: 10px; width: 130px; }

/* content */
section { float: left; border-left: 2px solid #DDD; min-height: 450px; padding: 10px; width: 928px; }

/* index */
#welcome { margin: 170px auto 0; overflow: auto; width: 500px; }
#welcome h1 { font: bold 30px verdana; margin: 0 auto; text-align: center; width: 400px; }
#welcome p { font: 15px verdana; margin: 10px auto 0; text-align: center; width: 300px; }

/* new: user */
#controls .save { margin-left: 50px; }
#controls .publish { background-color: #FF4D4D; font: 11px arial; letter-spacing: 1px; margin-left: 67px; margin-top: 8px; padding: 6px 9px 4px; }
#controls .publish:hover { background-color: #F00; }

/* index: user */
#authors h2 { margin-left: 10px; }
#authors h2 a { color: #444; font-size: 22px; }
#authors h2 a:hover { color: #85B839; }

/* edit: article */
#title { height: 78px; }
#title h2 { background: url('../images/pin.png') no-repeat; color: #464646; float: left; font-size: 23px; padding-left: 35px; padding-top: 3px; }

/* edit: article - status url */
#title a { color: #444; float: left; font: 15px arial; letter-spacing: 1px; margin-left: 20px; margin-top: 30px; padding-left: 23px; }
#title a:hover { color: #85B839; }
#title a#draft { background: url('../images/draft.png') no-repeat 0 1px; }
#title a#published { background: url('../images/link.png') no-repeat 0 2px; }
#title #status { background-color: #999; border-radius: 5px; color: #FFF; float: left; font: bold 12px helvetica; margin-left: 25px; margin-top: 27px; padding: 5px 15px; text-align: center; }

/* new, edit: article */
#controls { float: right; margin-bottom: 20px; padding-left: 5px; padding-right: 5px; width: 200px; }
#controls h3 { border-bottom: 1px solid #DDD; border-top: 1px solid #DDD; font: bold 14px verdana; margin-bottom: 10px; padding-bottom: 7px; padding-top: 7px; }
  #categories { margin-top: 11px; }
  #categories ul li { padding-left: 3px; padding-top: 2px; }
  #categories ul li:hover { border-radius: 4px; background-color: #EEE; }
  #categories ul li input { cursor: pointer; float: left; margin-right: 5px; margin-top: 2px; padding-top: 5px; }
  #categories ul li label { cursor: pointer; display: block; font-size: 12px; padding-bottom: 2px; }
  #categories ul li label:hover { color: #8D50A7; }

/* new: article, user */
#controls .save { margin-left: 49px; }

/* edit: article */
#controls .update { margin-left: 40px; }

/* draft: article */
article h2 { margin-left: 10px; margin-top: 12px; }
article h2 a { color: #444; font-size: 22px; }
article h2 a:hover { color: #85B839; }

article .links { background-color: #F9F9F9; border: 1px solid #DDD; list-style: none; margin-top: 10px; overflow: hidden; padding: 5px 10px; }
article .links li { float: left; font-size: 12px; line-height: 23px; padding-right: 10px; }
article .links .edit { background: url('../images/edit.png') 0px 3px no-repeat; padding-left: 23px; }

article { float: left; margin-bottom: 17px; position: relative; width: 928px; } /* same the main + 70 */
article + article { border-top: 1px solid #DDD; padding-top: 5px; }
article .body { color: #222; margin-top: 12px; padding-left: 10px; }
article .body p { font-size: 14px; margin-bottom: 10px; }
article .footer { height: 33px; margin-top: 25px; }
article .footer .tags { border-top: 4px double #E8E8E8; color: #888; float: right; font-size: 12px; padding-top: 3px; }

