#content-error { background-color: #FFF; border: 1px solid #DDD; box-shadow: 0 1px 3px rgba(150, 150, 150, 0.3); margin: 0 auto; overflow: auto; padding: 15px; min-height: 450px; width: 1100px; }
#content-error h1 { font: bold 60px verdana; margin: 120px auto 0; text-align: center; width: 150px; }
#content-error h2 { font: 20px verdana; margin: 2px auto 0; text-align: center; width: 300px; }
#content-error h3 { font: bold 12px verdana; margin: 10px auto 0; text-align: center; width: 300px; }
#content-error p { font: 15px verdana; margin: 10px auto 0; text-align: center; width: 300px; }
#content-error p strong { font: bold 17px arial; }
