#container-login { margin: 55px auto; width: 320px }
#container-login form { background-color: #FFF; border: 1px solid #E5E5E5; box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7); margin-bottom: 135px; overflow: auto; padding: 15px 20px 12px }
#container-login form label {  color: #777; display: block; font-size: 1.6em; margin-bottom: 1px }
#container-login form p { margin: 0 0 15px }
#container-login form input[type="email"],
#container-login form input[type="password"] { width: 270px }
#container-login form input[type="submit"] { float: right }
#container-login #human { float: left; margin-top: 5px }
#container-login #human label { display: inline; font-size: 1.2em; padding-right: 5px; vertical-align: middle }
#container-login #human input { vertical-align: middle }
#container-login > p { border: 1px solid; border-radius: 2px; font-size: 1.3em; margin-bottom: 3px; padding-bottom: 6px; padding-top: 6px; text-align: center; text-shadow: none }
#container-login p.alert { background-color: #FFF5F5; color: #F00 }
#container-login p.notice { background-color: #DFF0D8; color: #468847;}
