#container-login { margin: 55px auto; width: 320px; }
#container-login form { background-color: #FFF; border: 1px solid #E5E5E5; box-shadow: 0 4px 10px -1px rgba(200, 200, 200, 0.7); height: 175px; margin-bottom: 135px; overflow: auto; padding: 26px; }
#container-login form label { color: #777; display: block; font: 14px verdana; padding-bottom: 4px; }
#container-login form p { margin: 0 0 15px; }
#container-login form input[type="email"], #container-login form input[type="password"] { padding: 2px; width: 258px; }
#container-login form input[type="submit"] { float: right; margin-top: 10px; }
#container-login #human { float: left; margin-left: 3px; margin-top: 12px; }
#container-login #human label { float: left; font: 11px verdana; padding-right: 6px; padding-top: 7px; }
#container-login > p { border: 1px solid; border-radius: 2px; font-size: 13px; margin-bottom: 5px; padding-bottom: 6px; padding-top: 6px; text-align: center; text-shadow: none; }
#container-login p.alert { background-color: #FFF5F5; color: #F00; }
#container-login p.notice { background-color: #DFF0D8; color: #468847;}
