/* content */
#container section { float: left; border-right: 2px solid #DDD; padding: 10px; width: 858px; }

/* result */
#search-description { background-color: #FEFEFE; border: 1px solid #EFEFEF; border-radius: 3px; font: 12px verdana; margin-bottom: 5px; padding: 5px; }

/* index, show: article box */
article { float: left; margin-bottom: 17px; position: relative; width: 858px }
article + article { border-top: 1px solid #DDD; padding-top: 5px; }

/* index, show: body */
article .body { color: #202020; margin-top: 12px; padding-left: 10px; }
article .body p { font-size: 14px; margin-bottom: 10px; }
article .body p.read-more { margin-top: 25px; text-align: center; width: 100%; }
article .body p.read-more a { background-color: #AF81C3; border-radius: 3px; color: #FFF; font-size: 12px; padding: 7px 30px; }
article .body p.read-more a:hover { background-color: #8D50A7; }
article .body h2 { margin-bottom: 0; }
article .body h3 { font-size: 16px; letter-spacing: .5px; margin-bottom: 0; }
article .body ul { margin-bottom: 10px; }
article .body ul li { font-size: 14px; list-style: inside; margin-left: 5px; }
article .body .align-center { display: block; margin: 0 auto; }
article .body .align-left { display: inline; float: left; margin: 0 7px 2px 0; padding: 4px; }
article .body .align-right { display: inline; float: right; margin: 0 0 2px 7px; padding: 4px; }

/* index, show: title */
article h2.title { letter-spacing: .5px; margin-left: 33px; margin-top: 10px; }
article h2.title a { color: #444; }
article h2.title a:hover { color: #85B839; }

/* index, show: links */
article .links { background-color: #F9F9F9; border: 1px solid #DDD; list-style: none; margin-top: 10px; overflow: hidden; padding: 5px 10px; }
article .links li { float: left; font-size: 13px; line-height: 23px; padding-right: 10px; }
article .links li:after { content: '|'; padding-left: 10px; }
article .links .comments { background: url('../images/comment.png') 0px 4px no-repeat; padding-left: 20px; }
article .links .edit { background: url('../images/edit.png') 0px 3px no-repeat; padding-left: 23px; }
article .links .permalink { background: url('../images/link.png') 0px 4px no-repeat; padding-left: 22px; }
article .links .published { background: url('../images/calendar.png') 0px 4px no-repeat; padding-left: 22px; }

/* index, show: cloud */
article div.date { background: url('../images/balloon.png') 1px 0 no-repeat; font-family: arial; font-weight: bold; height: 54px; left: -47px; position: absolute; text-align: center; width: 74px; }
article div.date .number { font-size: 13px; position: relative; top: 4px; }
article div.date .month { display: block; font-size: 12px; position: relative; text-transform: uppercase; top: -3px; }

/* show: footer */
article .footer { height: 33px; margin-top: 25px; }
article .footer .tags { border-top: 4px double #E8E8E8; color: #888; float: right; font-size: 12px; padding-top: 3px; }

/* show: comment header */
#comments { float: left; font: bold 19px verdana; margin-bottom: 33px; margin-left: 20px; }

/* show: comment */
.comment { border: 1px solid #EAEAEA; border-radius: 2px; clear: both; float: right; height: auto; margin-bottom: 10px; padding: 10px; width: 835px; }
.comment form input[type="submit"] { float: right; margin-right: 7px; }
.comment form input[type="text"] { color: #111; margin-bottom: 7px; margin-right: 6px; padding: 2px; width: 234px; }
.comment form textarea { color: #111; width: 725px; }
.comment form .close { font-size: 13px; font-weight: bold; margin-bottom: 5px; margin-top: 5px; }
.comment form .human label { color: #777; font: 11px verdana; padding-right: 3px; padding-top: 3px; }
.comment form .human { float: left; margin-top: 3px; }
.comment .content .text p { margin-top: 10px; }
.comment .content .text pre { font-size: 12px; padding-left: 15px; }
.comment .content .text { clear: both; color: #444; font-size: 12px; width: 740px; }
.comment .content form p { margin: 0px; }
.comment .content form { margin-top: 10px; }
.comment .content { float: left; margin-left: 8px; }

.comment .name-date .anchors a { font-size: 13px; letter-spacing: 1px; }
.comment .name-date .anchors a.name { color: #369; font-weight: bold; margin-left: 5px; margin-right: 10px; }
.comment .name-date .anchors a:hover.name { color: #538CC6; }
.comment .name-date .anchors a.parent-anchor { font-size: 11px; }
.comment .name-date .anchors p { color: #999; display: inline; font: 11px verdana; margin-right: 3px; }
.comment .name-date .anchors { float: left; font-family: arial; font-size: 14px; }
.comment .name-date span { background: url('../images/clock.png') no-repeat; float: right; font-size: 11px; height: 16px; opacity: .3; text-indent: 21px; }
.comment .name-date { height: 25px; width: 740px }
.comment .photo img { background-color: #EEE; float: left; height: 80px; margin-right: 7px; width: 80px; }
.comment .photo { float: left; }
.comment .reply-link { font-size: 11px; font-weight: bold; }

.comment.authored { background-color: #FFE; }

.comment.level-1 { width: 820px; }
.comment.level-1 .name-date { width: 725px }
.comment.level-1 .text { width: 725px; }
.comment.level-1 form { width: 724px; }
.comment.level-1 form input[type="text"] { width: 229px; }
.comment.level-1 form input[type='text'] { width: 229px; }
.comment.level-1 form textarea { width: 710px; }

.comment.level-2 { width: 805px; }
.comment.level-2 .name-date { width: 710px }
.comment.level-2 .text { width: 710px; }
.comment.level-2 form { width: 707px; }
.comment.level-2 form input[type='text'] { width: 223px; }
.comment.level-2 form textarea { width: 691px; }

.comment.level-3 { width: 790px; }
.comment.level-3 .name-date { width: 695px }
.comment.level-3 .text { width: 695px; }
.comment.level-3 form { width: 692px; }
.comment.level-3 form input[type='text'] { width: 218px; }
.comment.level-3 form textarea { width: 677px; }

.comment.level-4 { width: 775px; }
.comment.level-4 .name-date { width: 680px }
.comment.level-4 .text { width: 680px; }
.comment.level-4 form { width: 677px; }
.comment.level-4 form input[type="text"] { width: 213px; }
.comment.level-4 form textarea { width: 661px; }

.comment.level-5 { width: 760px; }
.comment.level-5 .name-date { width: 665px }
.comment.level-5 .text { width: 665px; }
.comment.level-5 form { width: 656px; }
.comment.level-5 form input[type="text"] { width: 206px; }
.comment.level-5 form textarea { width: 640px; }

/* show: comment form */
.comment-create { clear: both; margin: 0 auto 50px; font-size: 13px; padding-top: 4px; width: 523px; }
.comment-create p.alert, .comment-create p.notice { border-radius: 4px; color: #B94A48; margin-bottom: 5px; padding: 10px; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5); }
.comment-create p.alert { background-color: #F2DEDE }
.comment-create p.notice { background-color: #DFF0D8 }

.comment-create #human { float: left; margin-top: 4px; }
.comment-create #human label { color: #888; font: 11px verdana; }
.comment-create #replying-to { color: #444; font-size: 13px; margin-left: 1px; }
.comment-create input[type="text"] { color: #BBB; margin-bottom: 7px; padding: 2px; width: 165px; }
.comment-create textarea { color: #BBB; height: 150px; margin-top: 4px; width: 515px; }
.comment-create input[type="submit"] { float: right; }
.comment-create #markdown-reference { color: #777; font: 11px verdana; margin-bottom: 8px; margin-top: 1px; }
.comment-create p { margin: 0; }
.comment-create p i { color: #999; float: right; font-size: 12px; margin-right: 28px; margin-top: 6px; }

/* index: paginaty */
.paginaty { margin: 0 auto; padding-bottom: 10px; width: 355px; }
.paginaty li { display: inline; padding: 0 3px; }
.paginaty li a { border-radius: 3px; background: #FBFBFB; border: 1px solid #EEE; color: #277DA8; font: bold 14px arial; letter-spacing: .4px; padding: 4px 8px; text-align: center; text-shadow: 1px 1px 1px #FFF; }
.paginaty li a:hover { color: #85B839; }
.paginaty li span { border-radius: 3px; background: #FBFBFB; border: 1px solid #EEE; color: #277DA8; font: bold 14px arial; letter-spacing: .4px; padding: 4px 8px; text-align: center; text-shadow: 1px 1px 1px #FFF; }
.paginaty li.disabled span { color: #EEE; }
.paginaty li.page span { color: #888; }
.paginaty.disabled { display: none; }

/* sidebar */
aside { float: right; padding: 10px; width: 200px; }

aside #donate { background-color: #D7D7D7; border-radius: 4px; color: #333; display: block; font: 15px helvetica; letter-spacing: .4px; margin: 0 auto; padding: 5px 0 3px 14px; width: 77px; }
aside #donate:hover { background-color: #BBB; color: #333; }
aside #donate i { font-size: 18px; left: -4px; position: relative; top: 2px; }

aside .search { margin-bottom: 10px; }
aside .search input[type="search"] { background: url('../images/search.png') no-repeat 4px 5px #FBFBFB; border: 1px solid #999; border-radius: 2px; color: #000; font-size: 13px; height: 24px; opacity: .7; padding-left: 25px; width: 173px; }
aside .search input[type="submit"] { display: none; }
aside .search label { display: none; }

/* about */
#about { background-color: #FDFDFD; border-bottom: 1px solid #F1F1F1; border-radius: 5px; border-top: 1px solid #F1F1F1; height: 173px; margin: 50px auto 0; padding: 12px; width: 800px; }
#about p { float: left; font: 14px/2 verdana; margin-left: 10px; margin-top: 25px; }
#about img { background-color: #EEE; border-radius: 2px; display: block; float: right; height: 160px; margin-right: 10px; margin-top: 5px; width: 160px; }

/* index: donator */
#donations h2 { color: #464646; float: left; font-size: 33px; margin-top: 15px; padding-left: 25px; }
#donations table { width: 100%; }
#donations table tr.odd { background-color: #F2F4F9; }
#donations table tr td { color: #444; font: 12px arial; padding: 5px 5px 4px; text-align: center; }
#donations table tr td img { border-radius: 3px; box-shadow: 1px 1px 3px #DDD; }
#donations table tr td.amount { font: bold 15px helvetica; width: 7%; }
#donations table tr td.country { width: 9%; }
#donations table tr td.date { width: 13%; }
#donations table tr td.edit { width: 3%; }
#donations table tr td.edit a { background: url('../images/edit.png') no-repeat; display: block; height: 16px; width: 16px; }
#donations table tr td.image { width: 5%; }
#donations table tr td.message { text-align: left; width: 37%; }
#donations table tr td.name { font: 15px arial; text-align: left; width: 20%; }
#donations table tr td.plan span { background-color: #369; border-radius: 7px; color: white; font-size: 12px; padding: 3px 10px; }
#donations table tr td.plan { width: 6%; }
