/* Admin */
#admin .user-form #fields { float: left; width: 715px; }
#admin .user-form #fields label { display: block; font: bold 13px helvetica; margin-bottom: 3px; margin-left: 1px; margin-top: 10px; width: 100%; }
#admin .user-form #fields p input { width: 700px; }
#admin .user-form #fields textarea { min-height: 313px; width: 700px; }

#admin #create .save { margin-left: 50px; }
#admin #update .update { margin-left: 35px; }

#admin #users .user h2.name { margin-left: 10px; margin-top: 12px; }
#admin #users .user h2.name a { color: #444; font-size: 22px; }
#admin #users .user h2.name a:hover { color: #85B839; }
