<div class="donation">
  <div class="title">
    <%= t 'donate.description' %>
    <i class="i-heart"></i>
  </div>

  <div class="gittip">
    <script src="//gttp.co/v1.js" data-gittip-username="wbotelhos"></script>
  </div>
</div>
