<div id="users">
  <% @users.each do |user| %>
    <div class="user">
      <h2 class="name"><%= link_to user.name, 'javascript:void(0);' %></h2>

      <div class="author">
        <%= author user %>
      </div>
    </div>
  <% end %>
</div>
