<%= link_to '', 'javascript:void(0);', title: t(:donate), class: 'i-heart' %>

<div class="donations">
  <%= link_to 'Patreon', 'https://www.patreon.com/wbotelhos/creators', target: :_blank %>
  <span>•</span>
  <%= link_to 'Paypal', "https://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=X8HEP2878NDEG&item_name=#{product.gsub(/\s/, '%20')}", target: :_blank %>
</div>
