<%= content_tag :i, '', title: t(:donate), class: 'i-heart' %>

<div id="donations">
  <%= link_to 'Git tip', 'http://gittip.com/wbotelhos', target: :_blank %>
  <span>•</span>
  <%= link_to 'Paypal', 'http://www.paypal.com/cgi-bin/webscr?cmd=_donations&business=X8HEP2878NDEG&item_name=wbotelhos.com', target: :_blank %>
</div>
