<nav role="navigation">
  <%= social_icon 'E-mail'   , 'icon i-envelope' , "mailto:#{CONFIG['email']}" %>
  <%= social_icon 'Feed'     , 'icon i-feed'     , feed_url %>
  <%= social_icon 'Github'   , 'icon i-github'   , "http://github.com/#{CONFIG['github']}" %>
  <%= social_icon 'Linkedin' , 'icon i-linkedin' , "http://linkedin.com/in/#{CONFIG['linkedin']}" %>
</nav>
