@import "compass/css3/border-radius"

.comments
  font-size: 1.2em
  margin-top: 50px

  abbr
    color: #AAA
    font-size: 0.9em
    margin-left: 5px

  footer
    margin-top: 7px

  header
    margin-bottom: 5px

    a
      text-decoration: none

  li
    border-top: 1px solid #DDD
    padding-left: 15px
    position: relative

  ul
    margin: 0
    padding: 0

  .anchor, .reply
    color: #777
    text-decoration: none

    &:hover
      color: #555
      transition: color 0s ease 0s, color 0.2s ease-in 0s

  .anchor
    margin-right: 5px

  .author
    +border-radius(3px)
    background-color: #CCC
    border-radius: 3px
    color: #FFF
    font-size: 0.9em
    margin-left: 5px
    padding: 3px 7px
    letter-spacing: 0.7px

  .avatar
    height: 48px
    left: 0
    position: absolute
    top: 8px
    width: 48px

    img
      +border-radius(3px)

  .body
    margin-bottom: 10px
    min-height: 56px // 48 .avatar.height + 8 .avatar.top
    padding-left: 40px
    padding-top: 8px
    position: relative

@media only screen and (min-width: 240px)

@media only screen and (min-width: 320px)

@media only screen and (min-width: 380px)

@media only screen and (min-width: 480px)

@media only screen and (min-width: 568px)
  .comments
    abbr
      font-size: 0.8em

    li
      padding-left: 48px

    .anchor, .reply
      font-size: 0.9em

    .body
      padding-left: 7px

@media only screen and (min-width: 600px)

@media only screen and (min-width: 685px)

@media only screen and (min-width: 678px)

@media only screen and (min-width: 1024px)
