@import "compass/css3/box-sizing"
@import "compass/css3/border-radius"
@import "compass/css3/opacity"
@import "mixins"

* //
  text-rendering: optimizelegibility

*, *:before, *:after //
  +box-sizing(border-box !important)

*::-moz-placeholder //
  color: #E0E0E0

*::-moz-selection //
  background-color: #CCE2FF

*::-moz-selection //
  background-color: #FFC
  color: #555

a //
  color: #6ECFF5

  &:hover//
    color: #1AB8F3

  &:active//
    color: #0AA5DF

blockquote
  background: image-url('quote.gif') no-repeat 0 0 #FDFDFD
  border-radius: 4px
  margin-left: 0
  padding-left: 22px

  p
    font-size: 1.3em !important
    padding-left: 10px
    padding-top: 5px

body //
  background: image-url('background.jpg') #FAFAFA
  color: #333
  font-family: "Open Sans", "Arial", sans-serif
  font-size: 10px
  height: 100%
  line-height: 1.6

code//
  background-color: #FEFEFE
  border-radius: 3px
  border: 1px solid #FBFBFB
  margin: 0 2px
  padding: 1px 5px

img//
  max-width: 100%

pre//
  background-color: #FEFEFE
  border-radius: 3px
  border: 1px solid #FBFBFB
  color: #393939
  font-family: menlo, monospace, serif
  font-size: 1.2em
  overflow: scroll
  padding: 10px 10px

textarea
  resize: vertical

ul //
  list-style: none

.input//
  +border-radius(2px)
  background-color: #FFF
  border: 1px solid #CCC
  color: #333
  font-size: 1.3em
  max-height: 300px
  min-height: 25px
  padding: 12px 10px
  transition: all 0.15s ease-in 0s
  width: 100%

  &:focus//
    border-color: #EEE

.mandatory
  color: #B94A48
  font-size: 1.3em
  font-weight: bold

.message
  +border-radius(2px)
  font-size: 1.2em
  margin: 15px auto 0
  padding: 10px
  text-align: center

  &.alert
    background-color: #F1D7D7
    color: #A95252

.placeholder//
  float: left
  margin-top: 10px
  padding-left: 2px
  padding-right: 2px
  width: 100%

.saver//
  clear: both
  float: right
  margin-bottom: 15px
  margin-top: 10px
  width: 100%

.validation-error
  background-color: #F2DEDE
  border: 1px solid #EED3D7
  color: #B94A48
  display: block
  font-size: 1.3em
  margin-top: -1px
  padding: 2px 4px 4px

@media only screen and (min-width: 240px)

@media only screen and (min-width: 320px)

@media only screen and (min-width: 380px)

@media only screen and (min-width: 480px)

@media only screen and (min-width: 568px)
  body//
    font-size: 11px

@media only screen and (min-width: 600px)

@media only screen and (min-width: 685px)

@media only screen and (min-width: 678px)
  body//
    font-size: 12px

@media only screen and (min-width: 1024px)
