@import "compass/css3/border-radius"

body
  background: image-url('background.jpg') #FAFAFA

.message
  +border-radius(2px)
  font-size: 1.2em
  margin: 15px auto 0
  padding: 10px
  text-align: center

  &.alert
    background-color: #F1D7D7
    color: #A95252

.validation-error
  background-color: #F2DEDE
  border: 1px solid #EED3D7
  color: #B94A48
  display: block
  font-size: 1.3em
  margin-top: -1px
  padding: 2px 4px 4px
