@font-face
  font-family: 'wbotelhos'
  font-style: normal
  font-weight: normal
  src: font-url('wbotelhos.eot')
  src: font-url('wbotelhos.eot?#iefix') format('embedded-opentype')
  src: font-url('wbotelhos.svg#wbotelhos') format('svg')
  src: font-url('wbotelhos.ttf') format('truetype')
  src: font-url('wbotelhos.woff') format('woff')

[class^="i-"], [class*=" i-"]
  -moz-osx-font-smoothing: grayscale
  -webkit-font-smoothing: antialiased
  font-family: 'wbotelhos'
  font-style: normal
  font-variant: normal
  font-weight: normal
  line-height: 1
  speak: none
  text-transform: none

.i-feed:before
  content: "\e604"

.i-github:before
  content: "\e600"

.i-linkedin:before
  content: "\e601"

.i-envelope:before
  content: "\e607"
