@import "compass/css3/border-radius"
@import "mixins"

.signin
  margin-bottom: 20px
  margin: 8% auto 0

  label
    color: #333
    display: block
    font: bold 1.5em arial
    margin-bottom: 3px
    margin-left: 2px
    margin-top: 3px
    width: 100%

  input[type="submit"]
    margin-top: 15px
    width: 100%

  .not-human
    input
      vertical-align: top

    label
      display: inline
      font-size: 1.2em
      padding-right: 5px
      vertical-align: top

@media only screen and (min-width: 480px)
  .signin
    width: 70%

@media only screen and (min-width: 685px)
  .signin
    width: 60%

    .not-human
      input
        vertical-align: middle

      label
        vertical-align: middle

@media only screen and (min-width: 1024px)
  .signin
    width: 40%
