<div role="banner" class="header">
  <%= link_to @media.title, slug_path(@media.slug), class: :header__title %>

  <div class="header__subtitle">
    <%= @media.description %>
    <%= link_to t(:edit), edit_lab_path(@media) if is_logged? %>
  </div>
</div>
