<section class="listing">
  <% @year_month_medias.each do |date, medias| %>
    <div class="date"><%= date %></div>

    <ul>
      <% medias.each do |media| %>
        <li>
          <%= link_to media.title, slug_lab_path(media.slug), class: :title %><br />
          <%= link_to slug_url(media.slug), slug_lab_path(media.slug), class: :url %>
        </li>
      <% end %>
    </ul>
  <% end %>
</section>
