<% content_for :title do %><%= t 'navigation.lab.title' %><% end %>

<% if @labs.empty? %>
  <div id="none"><%= t 'lab.none' %></div>
<% else %>
  <%= render @labs %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#repository-raty').socialy({
      app         : 'github',
      username    : 'wbotelhos',
      repository  : 'raty'
    });
  });
</script>
