<% content_for :title do %><%= t 'lab.other' %><% end %>

<% if @labs.empty? %>
  <div id="none"><%= t 'lab.none' %></div>
<% else %>
  <%= render @labs %>
<% end %>

<script type="text/javascript">
  $(function() {
    $.fn.socialy.defaults.app = 'github';
    $.fn.socialy.defaults.username = 'wbotelhos';

    $('#repository-capty').socialy({ repository: 'capty' });
    $('#repository-chrony').socialy({ repository: 'chrony' });
    $('#repository-flury').socialy({ repository: 'flury' });
    $('#repository-raty').socialy({ repository: 'raty' });
    $('#repository-stepy').socialy({ repository: 'stepy' });
  });
</script>
