<% content_for :title do %><%= t 'navigation.lab.title' %><% end %>

<% if @labs.empty? %>
  <div id="none"><%= t 'lab.none' %></div>
<% else %>
  <%= render @labs %>
<% end %>

<script type="text/javascript">
  $(function() {
    $('#repository-capty').socialy({ app: 'github', username: 'wbotelhos', repository: 'capty' });
    $('#repository-chrony').socialy({ app: 'github', username: 'wbotelhos', repository: 'chrony' });
    $('#repository-flury').socialy({ app: 'github', username: 'wbotelhos', repository: 'flury' });
    $('#repository-raty').socialy({ app: 'github', username: 'wbotelhos', repository: 'raty' });
    $('#repository-stepy').socialy({ app: 'github', username: 'wbotelhos', repository: 'stepy' });
  });
</script>
