<section class="listing">
  <% @year_month_medias.each do |date, medias| %>
    <div class="listing__date"><%= date %></div>

    <ol>
      <% medias.each do |media| %>
        <li>
          <%= link_to media.title, slug_lab_path(media.slug), class: :listing__title %>
          <%= link_to slug_url(media.slug), slug_lab_path(media.slug), class: :listing__url %>
        </li>
      <% end %>
    </ol>
  <% end %>
</section>
