<div class="clearfix"></div>

<article>
  <% unless is_logged? %>
    <header>
      <%= link_to t('lab.edit'), edit_lab_path(@media), class: 'button green-dark edit' %>
    </header>
  <% end %>

  <div class="body">
    <%= markdown @media.body %>
  </div>
</article>
