<div class="clearfix"></div>

<article>
  <div class="article__body">
    <%= markdown @media.body %>
  </div>
</article>

<%= render 'shared/share_it', text: "#{@media.title} - #{@media.description}" %>
