<div class="clearfix"></div>

<article>
  <div class="article__body"><%= raw @lab.content %></div>
</article>

<%= render 'shared/share_it', text: @lab.page_title %>

<%= render 'comments/comments' %>

<%= render 'comments/form' %>
